body, html {
    margin: 0; /* Eliminar márgenes por defecto */
    padding: 0; /* Eliminar padding por defecto */
    height: 100%; /* Asegurarse de que el body y html ocupen el 100% de la altura */
    width: 100%; /* Asegurarse de que el body y html ocupen el 100% del ancho */
}
div#contenedorBG_Mapa{   
    position: absolute; /* Permite posicionar el div respecto al body */
    top: 0; /* Comienza desde la parte superior */
    left: 0; /* Comienza desde la parte izquierda */
    width: 100%; /* Ancho del 100% */
    height: 100%; /* Alto del 100% */
}

div div{
    width: 2.5%;
    height: 5%;
    object-fit: cover;
    display: block; /* he pasado las imagenes a bloque para que no
    tengan el espacio de línea que tiene por defecto los elementos inline*/
    float: left; /* le pido que mande la img lo mas a la izquierda posible */
    background-size: contain;
}

.mainCharacter{
    background: red;
}
.EnemigoHorizontal, .EnemigoVertical{
    background: black;
}
