/* GENERICOS */
/* --------------------------------------------------------------------------- */
html{
    font-size: 18px;
    font-family:"Inter";
}
/* Centrar imagenes al tamaño del contenedor */
.bg_Img{
    background-size: 100% 100%; /* Estira la imagen para que ocupe todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    width: 100%; /* Asegura que el ancho sea del 100% */
    margin: 0; /* Elimina márgenes por defecto */
}
/* Escoger imagen del body*/
.imgEscuela{
    background-image: url('../media/img_landing/escuela.jpg');
}
.imgPatio{
    background-image: url('../media/img_landing/patio.jpg');  
}
.imgClase{
    background-image: url('../media/img_landing/clase.jpg');  
}
.imgBaseball{
    background-image: url('../media/img_landing/baseball.png');  
}

/* Titulos */
.styleTitulo {
    font-family: "Handlee", cursive;
    font-weight: 900; 
    font-style: bold;
    text-align: center;
    color: #0A1576;
}
h1.styleTitulo{
    font-size:4.5rem;
    text-shadow: 
        -3px -3px 0 #437CA5,
        -3px 3px 0 #437CA5,
        3px -3px 0 #437CA5,
        3px 3px 0 #437CA5;
    margin-bottom: 10px;
    margin: 0;  
}
h2.styleTitulo{
    font-size:2rem;
    text-shadow: 
        -2px -2px 0 #437CA5,
        -2px 2px 0 #437CA5,
        2px -2px 0 #437CA5,
        2px 2px 0 #437CA5;
    margin-top: 5px;
}
/* Container del título */
.div_SizeTitular{
    width: 55%;
    height: 200px;
    padding: 20px;
    margin: auto;
    border-radius: 75px;
}
/* Establece el fondo blanco para títulos, etc. */
.whiteBG{
    background-color: rgba(255, 255, 255, 0.7);
}
/* Centra vertical y horizontalmente los elementos del contenedor */
.elementosCentrados{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Estilos de <button> y <A> */
/* Separar clase en general, boton y a */
.short_style_a_button{
    display: inline-block;  /* Permite que <a> respete height y width como un <button> */
    height: 1%;
    width: 20%;
    border-radius: 40px;
    margin: 10px;
    /* Colores */
    background: #C77E5F;
    border: 5px solid #A56C43;
    color: white;
    /* Letra */
    /* text-transform: uppercase;  */
    font-size: 100%;
    text-decoration: none;  /* Quita el subrayado de los <a> */
    white-space: nowrap; /* Evita saltos de líneas del texto */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    text-align: center;           /* Centra el texto horizontalmente */
    line-height: 200%;
    font-family: 'Inter';   
}
.animacion_boton:hover{
    background-color: #A56C43;
}
.txt_Inputs{
    height: 3rem;
    width: 18rem;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(199, 126, 95, 0.8);
}
input::placeholder {
    color: white;
}
.large_style_a_button{
    width: 700px;
    height: 60px;
}
.extraLarge_style_a_button{
    width: 100vw;
    height: 8vh;
}
.anna-img{
    position: absolute;
}
.atras {
    top: 3.5%; /* Ajusta el margen superior */
    left: 3%; /* Ajusta el margen izquierdo */
    cursor: pointer;
}

/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PERSONALIZADOS */
.encabezado_general{
    display: flex;
    justify-content: flex-start;
    padding: 5px;
}
#body_MainMenu{
    background-size: cover;
}
.divButtons_Formulario{
    padding-left: 28%;
    display: inline;
    text-align: center;
}

/* <hr> main menu */
#hr_mainMenu{
    margin:auto;
    width: 65%;
    background-color: black;
    height: 0.4rem;
}

/* distribucion de margins elementos del body Main menu*/
#main_mainMenu div{
    margin-top: 30px;
    margin-bottom: 50px;
}
#main_mainMenu div button,
#main_mainMenu div a,
#main_mainMenu div input{
    margin: 25px;
}

.flecha-img{
    width: 50px;
}
/* #tituloQuienesSomos{
    padding: 0;
    border-radius: 100px;
    margin: 0 auto;
    width: 55%;
    height: 100px;
    margin-bottom: 2%;
} */
#p_resumenQuienesSomos{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    font-size:x-large;
}

/* Contenedor div miembros del grupo */
.divEquipo{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.divPersona{
    width: 20%;
    margin: 5%;
    height: auto;
    padding: 10%;
    border-radius: 20px;
}
.p_textoPersona{
    text-align: center;
}
/* Si tiene una clase cada imagen no es necesario div */
.divPersona img.img_foto_persona{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.divPersona img.logoRedSocial{
    height: 60px;
    width:  60px;
    margin: 10px;
}
.div_LogoRedSocial{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* footer quienes somos */
#footer_QuienesSomos{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#footer_QuienesSomos img{
    height: 70px;
    width: 70px;
}
/* Ranking */
#body_ranking{
    background-size: cover;
}
#body_ranking *{
    margin: 5px;
}
/* Juntar las dos id */
#mainDiv_Ranking{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding-top: 5%;
}
#mainDiv_Ranking{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}
#mainDiv_Ranking .divSecundario{
    margin: 50px;
    height: 90%;
    width: auto;
}
#divSecundarioLeft_Ranking{
    height: 70vh;
}
#divSecundarioLeft_Ranking *{
    margin: 30px;
}
#divSecundarioRight_Ranking{
    background: linear-gradient(45deg, rgba(108, 68, 51, 0.8), rgba(160, 99, 74, 0.8), rgba(199, 126, 95, 0.8));
    margin-right: 10px;
    border-radius: 25px;
    padding: 5px;
    width: 30%;
    height: 60vh;
}
#buttonRankning_JuegoTotal{
    margin-top: 150px;
    /* margin-top: 60px;?? */
}
/* Revisar esto, no se entiende */
.puntosPersonaje, .puntosPersonaje div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 45px;
}
.puntosPersonaje{
    padding: 10px;
    padding-left: 15px;
}
/* Ranking */
.puntosPersonaje img{
    width: 40px;
    height: 40px;
}
.puntosPersonaje *{
    margin: 10px;
}

.puntosPersonaje div{
    border-radius: 25px;
}

#buttonRankning_Juego1:hover{
    background-color: green;
}
#buttonRankning_Juego2:hover{
    background-color: red;
}
#buttonRankning_Juego3:hover{
    background-color: yellow;
}
#buttonRankning_Juego4:hover{
    background-color: grey;
}
#buttonRankning_JuegoTotal:hover{
    background-color: blue;
}
/* BANDERAS IDIOMAS */
/* Estilos para el contenedor de la selección de idioma */
.encabezado-pg-principal{
    display: flex;
    justify-content: flex-end;  /* Alinea el contenido a la derecha */
    position: relative;  /* Para posicionar el menú desplegable correctamente */
    margin: 5px;
}
ul{
    list-style: none;
}
.bandera-idioma{
    width: 50px;
}
#bandera-seleccionada{
    background: #C77E5F;
    padding: 5px;
    cursor: pointer;
}
.opcion-idioma:hover{
    opacity: 80%;
    cursor: pointer;
}
.menu-idiomas > li {
    float: right;
}
.menu-idiomas li ul{
    display: none;
    position: absolute; 
    min-width: 100px;
   
}
.menu-idiomas li:hover > ul {
    display: block;
}
.menu-idiomas li ul{
    right: 0px;
}
.opcion-idioma{
    display: flex;
    align-items: center;
    background-color: #C77E5F;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.texto-imagen{
    margin-left: 10px;
}

/*PÁGINA FUENTES*/
/* Tamaño de las imagenes y posición*/

.fuente_amarilla, .fuente_roja, .fuente_azul, .fuente_verde {
    width: 200px; /* Tamaño reducido de las imágenes de las fuentes */
    height: auto; /* Mantiene la proporción de la imagen */
    position: absolute;
    cursor: pointer;
}
.fuente_amarilla { 
    bottom: 30%; 
    left: 32%; 
    width: 250px;
}

.fuente_roja {
    top: 30%; 
    right: 30%;
    width: 250px;
}

.fuente_azul {
    top: 30%; 
    left: 4%; /
}

.fuente_verde {
    top: 20%; 
    left: 38%; 
}

#annaFuente{
    bottom: 0px; /* Ajusta la distancia desde el borde inferior */
    right: 0px;  /* Ajusta la distancia desde el borde derecho */
    width: 380px; /* Ajusta el tamaño de la imagen */
}

/* Mensaje introductorio juegos*/
#p-mensaje{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    font-size:x-large;
    padding: 10px; 
}

/* Container para la introducción a los juegos */
.div_SizeFuentes{
    width: 30%;
    height: auto;
    margin: auto;
    border-radius: 75px;
    position: absolute;
    bottom: 15%;
    right: 18%;
    padding: 20px;
}

/* PÁGINAS INTRO JUEGOS*/
.introduccion{
    background-color: #437CA5;
}
.div_SizeIntros{
    width: 70vw;
    height: 70vh;
    margin:auto;
    border-radius: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor-mano{
    width: 50px;
    height: 50px;
    padding-top: 120px;
}
#jugar-button{
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde el borde inferior */
    right: 20px;
    height: 40px;
    font-weight: bold;
}

/* pop-up */
.popup-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
}

.close-btn {
    background: #ff5e5e;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}

.popup-content form div {
    margin-bottom: 15px;
}