/* GENERICOS */
/* --------------------------------------------------------------------------- */
html{
    font-size: 16px;
}
/* Centrar imagenes al tamaño del contenedor */
.bg_Img{
    background-size: 100% 100%; /* Estira la imagen para que ocupe todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    width: 100%; /* Asegura que el ancho sea del 100% */
    margin: 0; /* Elimina márgenes por defecto */
}
/* Escoger imagen del body*/
.Index{
    background-image: url('../media/img_landing/escuela.jpg');
}

.imgPatio{
    background-image: url('../media/img_landing/patio.jpg');  
}

/* Titulos */
.styleTitulo {
    font-family: "Handlee", cursive;
    font-weight: 900; 
    font-style: bold;
}
h1.styleTitulo{
    color: #0A1576;
    font-size:4.5rem;
    text-shadow: 
        -3px -3px 0 #437CA5,
        -3px 3px 0 #437CA5,
        3px -3px 0 #437CA5,
        3px 3px 0 #437CA5;
    font-weight: 900;
    margin-bottom: 10px;
}
h2.styleTitulo{
    color: #0A1576;
    font-size:2rem;
    text-shadow: 
        -2px -2px 0 #437CA5,
        -2px 2px 0 #437CA5,
        2px -2px 0 #437CA5,
        2px 2px 0 #437CA5;
    font-weight: 900; 
    margin-top: 5px;
}
/* Centra vertical y horizontalmente los elementos del contenedor */
.elementosCentrados{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Establece el fondo blanco para títulos, etc. */
.whiteBG{
    background-color: rgba(255, 255, 255, 0.7);
}

/* Estilos de <button> y <A> */
.short_style_a_button{
    display: inline-block;  /* Permite que <a> respete height y width como un <button> */
    height: 1%;
    width: 20%;
    border-radius: 40px;
    margin: 10px;
    /* Colores */
    background: #C77E5F;
    border: 5px solid #A56C43;
    color: white;
    /* Letra */
    /* text-transform: uppercase;  */
    font-size: 100%;
    text-decoration: none;  /* Quita el subrayado de los <a> */
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap; /* Evita saltos de líneas del texto */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    text-align: center;           /* Centra el texto horizontalmente */
    line-height: 200%;   
}
a.short_style_a_button:hover,
button.short_style_a_button:hover{
    background-color: #A56C43;
}
.txt_Inputs{
    height: 3rem;
    width: 18rem;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(199, 126, 95, 0.8);

}
input::placeholder {
    color: white;
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PERSONALIZADOS */
.divButtons_Formulario{
    padding-left: 28%;
    display: inline;
    text-align: center;
}
/* Container del título */
.div_SizeTitular{
    width: 55%;
    height: 200px;
    margin:auto;
    border-radius: 75px;
}
/* <hr> main menu */
#hr_mainMenu{
    margin:auto;
    width: 65%;
    background-color: black;
    height: 0.4rem;
}
/* distribucion de margins elementos del body Main menu*/
#main_mainMenu div{
    margin-top: 30px;
    margin-bottom: 50px;
}
#main_mainMenu div button,
#main_mainMenu div a,
#main_mainMenu div input{
    margin: 25px;
}
/* body quienes somos */
#bodyQuienesSomos *{
    padding: 1% 0 1% 0;
}
#p_resumenQuienesSomos{
    width: 100px;
    text-align: center;
}
/* Contenedor div miembros del grupo */
.divEquipo{
    height: 50%;
    display: flex;
    align-items: center;
}
.divPersona{
    width: 20%;
    margin: 5%;
    height: auto;
    padding: 15px;
    background-color: yellow;
}
.divPersona img{
    height: 10px;
}





/* BANDERAS IDIOMAS */
/* Estilos para el contenedor de la selección de idioma */
.language-selector {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    padding: 3px;
    background:  #C77E5F;
}

header{
    display: flex;
    justify-content: end;
    margin: 5px;
}
/* Estilos para las banderas */
.flag {
    width: 40px;
    height: 30px;
    cursor: pointer;
}


/* Menú oculto por defecto */
.menu {
    display: none;
    position: absolute;
    top: 45px; /* Justo debajo de la bandera principal */
    left: 0;
    background:  #C77E5F;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 100;
    width: 80px;
    left: -40px;
}
.div_Bandera{
    display: flex;
    align-items: center;
    margin: 2px;
}
.div_Bandera *{
    margin: 5px;
    width: 50%;
}

.menu .flag {
    margin: 5px 0;
}


/* Mostrar el menú al estar activo */
.menu.show {
    display: block;
}


/*FUENTES*/
/* Tamaño de la imagen*/
.font-img {
    width: 200px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}