/* GENERICOS */
/* --------------------------------------------------------------------------- */
html{
    font-size: 16px;
}
/* Centrar imagenes al tamaño del contenedor */
.bg_Img{
    background-size: 100% 100%; /* Estira la imagen para que ocupe todo el contenedor */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repite la imagen */
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la ventana */
    width: 100%; /* Asegura que el ancho sea del 100% */
    margin: 0; /* Elimina márgenes por defecto */
}
/* Escoger imagen del body*/
.imgEscuela{
    background-image: url('../media/img_landing/escuela.jpg');
}

.imgPatio{
    background-image: url('../media/img_landing/patio.jpg');  
}
.imgClase{
    background-image: url('../media/img_landing/clase.jpg');  
}
.imgBaseball{
    background-image: url('../media/img_landing/baseball.png');  
}

/* Titulos */
.styleTitulo {
    font-family: "Handlee", cursive;
    font-weight: 900; 
    font-style: bold;
    text-align: center;
}
h1.styleTitulo{
    color: #0A1576;
    font-size:4.5rem;
    text-shadow: 
        -3px -3px 0 #437CA5,
        -3px 3px 0 #437CA5,
        3px -3px 0 #437CA5,
        3px 3px 0 #437CA5;
    font-weight: 900;
    margin-bottom: 10px;
    margin: 0;  
}
h2.styleTitulo{
    color: #0A1576;
    font-size:2rem;
    text-shadow: 
        -2px -2px 0 #437CA5,
        -2px 2px 0 #437CA5,
        2px -2px 0 #437CA5,
        2px 2px 0 #437CA5;
    font-weight: 900; 
    margin-top: 5px;
}
p{
    font-family: 'Inter';
}
/* Centra vertical y horizontalmente los elementos del contenedor */
.elementosCentrados{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Establece el fondo blanco para títulos, etc. */
.whiteBG{
    background-color: rgba(255, 255, 255, 0.7);
}

/* Estilos de <button> y <A> */
.short_style_a_button{
    display: inline-block;  /* Permite que <a> respete height y width como un <button> */
    height: 1%;
    width: 20%;
    border-radius: 40px;
    margin: 10px;
    /* Colores */
    background: #C77E5F;
    border: 5px solid #A56C43;
    color: white;
    /* Letra */
    /* text-transform: uppercase;  */
    font-size: 100%;
    text-decoration: none;  /* Quita el subrayado de los <a> */
    font-family: Arial, Helvetica, sans-serif;
    white-space: nowrap; /* Evita saltos de líneas del texto */
    box-sizing: border-box; /* Incluye padding y border en el tamaño total */
    text-align: center;           /* Centra el texto horizontalmente */
    line-height: 200%;   
}
a.short_style_a_button:hover,
button.short_style_a_button:hover{
    background-color: #A56C43;
}
.txt_Inputs{
    height: 3rem;
    width: 18rem;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(199, 126, 95, 0.8);

}
input::placeholder {
    color: white;
}
.large_style_a_button{
    width: 700px;
    height: 60px;
}
.extraLarge_style_a_button{
    width: 100vw;
    height: 8vh;
}
.anna-img{
    position: absolute;
    height: auto; /* Mantiene la proporción de la imagen */
}

.atras {
    position: absolute;
    top: 3.5%; /* Ajusta el margen superior */
    left: 3%; /* Ajusta el margen izquierdo */
    cursor: pointer;
}

/* Tamaño de la imagen de la flecha */
.flecha-img {
    width: 50px; /* Tamaño de la flecha, ajusta según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* PERSONALIZADOS */
#body_MainMenu{
    background-size: cover;
}
.divButtons_Formulario{
    padding-left: 28%;
    display: inline;
    text-align: center;
}
/* Container del título */
.div_SizeTitular{
    width: 55%;
    height: 200px;
    margin:auto;
    border-radius: 75px;
}
/* <hr> main menu */
#hr_mainMenu{
    margin:auto;
    width: 65%;
    background-color: black;
    height: 0.4rem;
}

/* distribucion de margins elementos del body Main menu*/
#main_mainMenu div{
    margin-top: 30px;
    margin-bottom: 50px;
}
#main_mainMenu div button,
#main_mainMenu div a,
#main_mainMenu div input{
    margin: 25px;
}
/* body quienes somos */
#bodyQuienesSomos{
    background-size: cover; 
}
.flecha img{
    height: 100px;
    display: inline;
    margin: 10px;
}
#bodyQuienesSomos *{
    padding: 0.3%;
}
#tituloQuienesSomos{
    padding: 0;
    border-radius: 100px;
    margin: 0 auto;
    width: 55%;
    height: 100px;
    margin-bottom: 2%;
}
#p_resumenQuienesSomos{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    font-size:x-large;
}

/* Contenedor div miembros del grupo */
.divEquipo{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
}
.divPersona{
    width: 20%;
    margin: 5%;
    height: auto;
    padding: 10%;
    border-radius: 20px;
}
.p_textoPersona{
    text-align: center;
}
.divPersona img.img_foto_persona{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.divPersona img.logoRedSocial{
    height: 60px;
    width:  60px;
    margin: 10px;
}
.div_LogoRedSocial{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* footer quienes somos */
#footer_QuienesSomos{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
#footer_QuienesSomos img{
    height: 70px;
    width: 70px;
}
/* Ranking */
#body_ranking{
    background-size: cover;
}
#body_ranking *{
    margin: 5px;
}
#mainDiv_Ranking{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    padding-top: 5%;
}
#mainDiv_Ranking .divSecundario{
    margin: 50px;
}
#divSecundarioLeft_Ranking{
    height: 70vh;
}
#divSecundarioLeft_Ranking *{
    margin: 30px;
}
#divSecundarioRight_Ranking{
    background: linear-gradient(45deg, rgba(108, 68, 51, 0.8), rgba(160, 99, 74, 0.8), rgba(199, 126, 95, 0.8));
    margin-right: 10px;
    border-radius: 25px;
    padding: 5px;
    width: 30%;
    height: 60vh;
}
#buttonRankning_JuegoTotal{
    margin-top: 150px;
}
.puntosPersonaje, .puntosPersonaje div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 45px;
}
.puntosPersonaje{
    padding: 10px;
    padding-left: 15px;
}
/* Ranking */
#body_ranking{
    background-size: cover;
}
#mainDiv_Ranking{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90%;
}
#mainDiv_Ranking .divSecundario{
    height: 90%;
    width: auto;
    margin: 50px;
}
#divSecundarioLeft_Ranking *{
    margin: 20px;
}
#divSecundarioRight_Ranking{
    background: linear-gradient(45deg, rgba(108, 68, 51, 0.8), rgba(160, 99, 74, 0.8), rgba(199, 126, 95, 0.8));
    margin-right: 10px;
    border-radius: 25px;
    padding: 5px;
}
#buttonRankning_JuegoTotal{
    margin-top: 60px;
}
.puntosPersonaje, .puntosPersonaje div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.puntosPersonaje img{
    width: 40px;
    height: 40px;
}
.puntosPersonaje *{
    margin: 10px;
}

.puntosPersonaje div{
    border-radius: 25px;
}
.puntosPersonaje img{
    width: 40px;
    height: 40px;
}
.puntosPersonaje *{
    margin: 10px;
}

#buttonRankning_Juego1:hover{
    background-color: green;
}
#buttonRankning_Juego2:hover{
    background-color: red;
}
#buttonRankning_Juego3:hover{
    background-color: yellow;
}
#buttonRankning_Juego4:hover{
    background-color: grey;
}
#buttonRankning_JuegoTotal:hover{
    background-color: blue;
}
/* BANDERAS IDIOMAS */
/* Estilos para el contenedor de la selección de idioma */
.language-selector {
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-right: 5px;
    padding: 3px;
    background:  #C77E5F;
}

header{
    display: flex;
    justify-content: end;
    margin: 5px;
}
/* Estilos para las banderas */
.flag {
    width: 40px;
    height: 30px;
    cursor: pointer;
}


/* Menú oculto por defecto */
.menu {
    display: none;
    position: absolute;
    top: 45px; /* Justo debajo de la bandera principal */
    left: 0;
    background:  #C77E5F;
    border: 1px solid #ccc;
    padding: 5px;
    z-index: 100;
    width: 80px;
    left: -40px;
}
.div_Bandera{
    display: flex;
    align-items: center;
    margin: 2px;
}
.div_Bandera *{
    margin: 5px;
    width: 50%;
}

.menu .flag {
    margin: 5px 0;
}


/* Mostrar el menú al estar activo */
.menu.show {
    display: block;
}


/*PÁGINA FUENTES*/
/* Tamaño de las imagenes y posición*/

.fuente_amarilla, .fuente_roja, .fuente_azul, .fuente_verde {
    width: 200px; /* Tamaño reducido de las imágenes de las fuentes */
    height: auto; /* Mantiene la proporción de la imagen */
    position: absolute;
    cursor: pointer;
}
.fuente_amarilla { 
    bottom: 30%; 
    left: 32%; 
    width: 250px;
}

.fuente_roja {
    top: 30%; 
    right: 30%;
    width: 250px;
}

.fuente_azul {
    top: 30%; 
    left: 4%; /
}

.fuente_verde {
    top: 20%; 
    left: 38%; 
}

#annaFuente{
    bottom: 0px; /* Ajusta la distancia desde el borde inferior */
    right: 0px;  /* Ajusta la distancia desde el borde derecho */
    width: 380px; /* Ajusta el tamaño de la imagen */
}

/* Mensaje introductorio juegos*/
#p-mensaje{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    border-radius: 50px;
    font-size:x-large;
    padding: 10px; 
}

/* Container para la introducción a los juegos */
.div_SizeFuentes{
    width: 30%;
    height: auto;
    margin: auto;
    border-radius: 75px;
    position: absolute;
    bottom: 15%;
    right: 18%;
    padding: 20px;
}

/* PÁGINAS INTRO JUEGOS*/
.introduccion{
    background-color: #437CA5;
}
.div_SizeIntros{
    width: 70vw;
    height: 70vh;
    margin:auto;
    border-radius: 75px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barraNavegadora{
    top: 5%;
}

.cursor-mano{
    width: 50px;
    height: 50px;
    padding-top: 120px;
}
#jugar-button{
    position: absolute;
    bottom: 20px; /* Ajusta la distancia desde el borde inferior */
    right: 20px;
    cursor: pointer;
    height: 40px;
    font-weight: bold;
}