/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Inter';
    color: white;
    background-image: url("../RescateAlMar/img/fondoRescateMar.png"); /* Ruta de tu imagen */
    background-repeat: no-repeat; /* Evita que se repita */
    background-attachment: fixed; /* Hace que la imagen de fondo sea fija */
    background-size: cover; /* Asegura que la imagen cubra todo el contenedor */
    background-position: center; /* Centra la imagen */
    height: 100vh; /* Asegúrate de que el cuerpo ocupe la altura completa de la ventana */
    overflow: hidden; /* Evita el scroll */
}
/* HEADER */
#tiempo {
    display: flex;
    align-items: center;
    justify-content: end;
}

#flecha {
    width: 50px;
}

#corazones {
    display: flex; /* Coloca los corazones en línea */
    gap: 5px; /* Espaciado entre los corazones */
}

.corazon {
    width: 25px; /* Tamaño de los corazones */
    height: 25px;
}
.vidas {
    display: flex;
    align-items: center;
    font-size: 18px; /* Tamaño del texto */
    color: white; /* Color del texto */
    margin-right: 20px;
}
#puntos {
    margin-left: 50px;
    font-weight: bold;
    font-size: 25px;  
}

/* JUEGO */
main {
    position: relative; /* Permite que los elementos dentro usen posicionamiento absoluto respecto a main */
    height: 85vh; /* Altura total de la ventana */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: flex-end; /* Alinea los elementos al final (parte inferior) */
    margin: 0; /* Eliminar márgenes predeterminados */
}

#red {
    position: absolute; /* Permite moverlo libremente */
    width: 150px; /* Ancho de la red */
    height: auto;
    bottom: -5px; /* Distancia desde la parte inferior */
}
#objetos {
    position: absolute; /* Posición absoluta dentro de su contenedor principal */
    top: 0; /* Asegura que el contenedor de los objetos esté en la parte superior */
    width: 100%; /* Ocupa todo el ancho del contenedor */
    pointer-events: none; /* Evita que interfiera con otros elementos */
}
.objeto {
    position: absolute; /* Para que cada objeto tenga su propia posición */
    width: 80px; /* Ancho del objeto */
    height: auto; /* Alto del objeto */
    top: -30px; /* Comienza fuera de la pantalla */
}