#gameArea {
    position: relative;
    height: 98vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

#gameArea.dark {
    background-color: rgba(0, 0, 0, 0.95);
    position: relative;
    overflow: hidden;
}


:root {
    --cX: 40vw;
    --cY: 40vh;
}

#gameArea.dark:before {
    content: "";
    display: block;
    width: 99.5%;
    height: 98vh;
    position: fixed;
    pointer-events: none;
    background: radial-gradient(
        circle 8vmax at var(--cX) var(--cY),
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0.90) 60%,
        rgba(0, 0, 0, 0.99) 120%,
        rgba(0, 0, 0, 1) 300%
    );
    z-index: 10;
}

/* Botones de selección de sala */
#buttonsArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaciado entre botones */
    margin-top: 20px;
}

/* Título del área del juego */
#title {
    font-family: "Handlee", cursive;
    font-size: 2rem;
    text-align: center;
    color: #0A1576;
    text-shadow: -2px -2px 0 #437CA5, 2px 2px 0 #437CA5;
    margin: 20px 0;
}

/* Objetos ocultos */
.hiddenObject {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red; /* Color por defecto */
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.hiddenObject:hover {
    transform: scale(1.2); /* Efecto al pasar el ratón */
}

.hiddenObject.found {
    background-color: green; /* Color al encontrarlo */
}
