/* Estilos específicos para el contenedor del juego */
#gameArea {
    position: relative; /* Posición relativa para los elementos internos */
    height: 100vh; /* Ocupa toda la ventana */
    width: 95%;
    background-size: cover;
    background-position: center;
    overflow: hidden; /* Oculta elementos que salgan del área */
}

/* Botones de selección de sala */
#buttonsArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaciado entre botones */
    margin-top: 20px;
}

/* Título del área del juego */
#title {
    font-family: "Handlee", cursive;
    font-size: 2rem;
    text-align: center;
    color: #0A1576;
    text-shadow: -2px -2px 0 #437CA5, 2px 2px 0 #437CA5;
    margin: 20px 0;
}

/* Objetos ocultos */
.hiddenObject {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: red; /* Color por defecto */
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.hiddenObject:hover {
    transform: scale(1.2); /* Efecto al pasar el ratón */
}

.hiddenObject.found {
    background-color: green; /* Color al encontrarlo */
}